

/* Grid 
================================ */
* {
    margin: 0;
    padding: 0;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid {
  width: 100%;
}
.row {
  margin-bottom: 1em;
}

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0;
}
.grid {
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

.grid:after, .row:after {
  content:"";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="-col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="-col"]:last-child {
  margin-right: 0;
}
[class*="-col"], .row {
	position: relative;
}


/* Columns
================================ */
[class*="-col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="-col"]:last-child {
    margin-right: 0;
}
.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23.87%;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 57.70%;
}

.eight-col {
  width: 66.16%;
}

.nine-col {
  width: 74.62%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}





/* Media Queries
================================ */




@media (min-width: 1280px) {
	.grid-container {
		max-width: 1279px;
	}
}
/*definite stylings =======================*/
body {
	background: url("../img/vox-mars-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: helvetica,arial,sans-serif;
	color: rgb(94, 96, 95);
}

body a {
	text-decoration: none;
	
}

header { 
	height: 46px;
	width: 100%;
	background-color: rgba(101, 126, 142, 0.8);
	position: fixed;
	z-index: 25;
}

.nav-list {
	list-style: none;
	color: #f0f0f0;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	text-align: right;
}

.nav-list li {
	display: inline;
	padding-right: 8px;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;

}
.nav-list li .fa {
	font-size: 18px;
}
li.main-nav-exit {
	text-transform: uppercase;
	padding-left: 14px;
	font-weight: 400;
	font-size: 14px;
	font-style: italic;
}

/*
.main-nav-icons, .main-nav-share-card, .main-nav-social, .main-nav-exit {
	float: right;
	display: inline;
	padding-right: 10px;
	padding-top: 10px;
	color: #f1f3f2;
	font-size: 12px;
}*/

.why-care {
	background-color: #fff;
	color: rgb(94, 96, 95);
	min-height: 420px;
	
	margin-top: 50px;
	position:absolute;
	right: 60px;
	top: 60px;
	}

.article-content-wrapper {
	position: relative;
	width: 100%;
	margin: auto;
}
.article-content {
	padding-left: 45px;
	padding-right: 45px;
	pading-top: 85px;
	padding-bottom: 25px ;
}
.article-content > h1 {
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 20px;
}
.article-content > p {
	text-align: justify;
	line-height: 26.25px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 15px;
	padding-bottom: 5px;


}
.mars-pic {
	margin-top: 12px;
	margin-left: 12px;
	float: right;
	border: 1px solid grey;
	padding: 5px;

}

p a {
	background-color: #fff200;
}
.article-bar.top {
width: 100%;
height: 35px;
background-color: #fff200;
position: relative;
}


.article-car-bottom {
	height: 25px;
	background-color: blue;
}
.explain.four-col {
	postion: fixed; 
	top: 110px;
	left: 5px;

}
.top-explainer {
	background-color: #fff200;
	width:270px;
	min-height: 220px;
	margin: auto 0;
}
.fa .fa-angle-up, .up-arrow {
	color:white;
	font-weight: 300;
	text-align: center;
	font-size: 1.5em;

	
}
.top-explainer-header {
	padding: 20px;
	display: block;
}
.top-explainer h1 {
	text-align: left;
	padding-bottom: 10px;
	line-height: 28px;
	color: #000;
	font-size: 24px;
}
.author, .time-date {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 11px;
	padding-top: 10px;
}
.explainer-box {
	background-color: #313131; 
	width: 270px;
	height: 500px;
}

}
.explainer-questions {
	background-color: #313131;
	height: 286px;
	width: 270px;
	
}
.explainer-questions > ol {
	color: #aaa;
	line-height: 20.25px;
	list-style-image: none;
	list-style-type:decimal;
	font-size: 13px;
	display: block;
	margin-left: 24px;
	margin-top: 14px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	text-align: left;
	width: 201px;
}
ol > li {
	margin-top: 15px;
}

.hidden-questions {
	visibility: hidden;
}
 .explainer-article-bar {
 	height: 25px;
 	width: 270px;
 	background-color: #000;
 }
.article-bar-arrow, .left-arrow,
.fa .fa-angle-left {
  display: block;
	font-size: 18px;
	float: left;
	height: 25px;
	width: 150px;
	margin-left: 12px;
	margin-top: 8px;

}
.right-arrow,
.fa .fa-angle-right {
font-size: 18px;
float: right;
display: block;
height: 25px;
margin-left: 60px;
margin-top: -20px;

width:20px;
overflow: hidden;

}

.article-bar-text {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 13px;
	padding-top: 11px;
	color: #888;
	
	height: 25px;
	width: 600px;

}
.mars-pic {
	/*max-width: 231px;
	max-height: 231px;*/
	width: 40%;
	float: right;
	display: block;
}
.why-care.eight-col {
	position: relative;
	
}
.nasa-logo {
	color: lightblue;
	text-transform: uppercase;
	background-color: #fff;
	font-size:13px;
}

.article-bar-bottom {
	
	height: 30px;
	width: 800px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top: 1px solid lightgrey;
}
.list-container {
	position: relative;
	height: 30px;
	
}
.list-container > ul {
	list-style: none;
	padding-top: 6px;
	margin: 0 auto;
	max-width: 600px;
	padding-left: 50px;
}

.list-container > ul li {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	display: inline;
	width: auto;


}

.bottom-bar-arrow-left-arrow {
	margin-top: 2px;
	float: left;
	margin-left: 5px;
	margin-right: 75px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.bottom-bar-arrow-right-arrow {
	
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 30px;
	

	
}

.bottom-bar.share-card {
	padding-left: 85px;
	margin-top: 3px;
}
/*
.bottom-bar-facebook, 
.bottom-bar-twitter,
.bottom-bar-google,
.bottom-bar-unknown, {
	padding-left: 5px;
	margin-top: 3px;
}*/

/*
.bottom-bar-arrow-left-arrow, 
.bottom-bar-share-card, 
.bottom-bar-facebook,
.bottom-bar-twitter,
.bottom-bar-google,
.bottom-bar-unknown,
.bottom-bar-arrow-right-arrow {
	
	float: left;
	background-color: pink;
	width: 30px;
		} */

